{% extends 'layout.html' %}

{% block content %}
<section class="promo">
    <h1>WOW! SUCH APIs! Built for Developers!</h1>
    <h2>Work together to design, prototype, and document APIs</h2>
    <div>
        <a class="github-btn-link" href="/">
            <span class="github-btn-inside">Sign Up Free with Github</span>
        </a>
        <p class="github-cta">No Github? 
            <a href="/">Sign up free with email!</a>
        </p>
    </div>
</section>
<section class="enterprise">
    <h2>Set your team on the right course - <span>Visibility. Consistency. Process.</span></h2>
    <a class="enterprise-btn">Request a Demo</a>
</section>
<section class="brands">
    <div class="brands-container">
        <a>
            <img src="static/images/microsoft-logo.svg">
        </a>
        <a>
            <img src="static/images/salesforce-logo.svg">
        </a>
        <a>
            <img src="static/images/bloomberg-logo.svg">
        </a>
        <a>
            <img src="static/images/viacom-logo.svg">
        </a>
        <a>
            <img src="static/images/xero-logo.svg">
        </a>
        <a>
            <img src="static/images/digitalglobe-logo.svg">
        </a>
        <a>
            <img src="static/images/gopro-logo.svg">
        </a>
        <a>
            <img src="static/images/nbc-logo.svg">
        </a>
    </div>
</section>
<section class="stats">
    <div class="stat">
        <div class="number">301,122</div>
        <div class="label">HEROES</div>
    </div>
    <div class="sentence">ARE WORKING ON</div>
    <div class="stat">
        <div class="number">401,000</div>
        <div class="label">APIS</div>
    </div>
    <div class="sentence">BEING CONSUMED BY</div>
    <div class="stat">
        <div class="number">3M+</div>
        <div class="label">DEVELOPERS</div>
    </div>
</section>
{% endblock %}