{% extends 'layout.html' %}

{% block content %}

<section class="sign-up">
    
    <div class="form-container">
        <h1>Sign Up</h1>
        <a class="signup-btn github" href="">Continue with GitHub</a>
        <a class="signup-btn twitter" href="">Continue with Twitter</a>
        <h2>OR</h2>
        <form action="{{ url_for('form_page.submit') }}" method="POST">            
            {{ form.username }}
            {{ form.email }}
            {{ form.password }}
            {{ form.hidden_tag() }}
            <p>password must be at least 8 characters</p>
            <button class="" type="submit">SIGNUP FOR APIVILLE</button>
        </form>
        {% if form.errors %}
            <ul class="errors">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ form[field_name].label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>

</section>



{% endblock %}